USE [master]
GO
/****** Object:  Database [FoodTourDB]    Script Date: 29/04/2026 8:59:21 SA ******/
CREATE DATABASE [FoodTourDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodTourDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FoodTourDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodTourDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FoodTourDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodTourDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodTourDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/04/2026 8:59:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audios]    Script Date: 29/04/2026 8:59:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VoiceName] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[RestaurantId] [int] NULL,
	[TextContent] [nvarchar](max) NOT NULL,
	[IsGeneratedByTTS] [bit] NOT NULL,
	[LanguageCode] [nvarchar](10) NOT NULL,
	[Duration] [int] NULL,
	[CooldownMinutes] [int] NULL,
 CONSTRAINT [PK_Audios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 29/04/2026 8:59:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[AudioPath] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Lat] [float] NULL,
	[Lng] [float] NULL,
	[OpenHours] [nvarchar](100) NULL,
	[Rating] [float] NULL,
	[ImagePath] [nvarchar](255) NULL,
	[Radius] [float] NULL,
	[Priority] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Restaurants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourDetails]    Script Date: 29/04/2026 8:59:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourDetails](
	[TourId] [int] NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
 CONSTRAINT [PK_TourDetails] PRIMARY KEY CLUSTERED 
(
	[TourId] ASC,
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 29/04/2026 8:59:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[TotalEstimatedTime] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActivityLogs]    Script Date: 29/04/2026 8:59:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActivityLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RestaurantId] [int] NOT NULL,
	[Lat] [float] NOT NULL,
	[Lng] [float] NOT NULL,
	[ActionType] [nvarchar](50) NULL,
	[DurationListened] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[LanguageCode] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/04/2026 8:59:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[RestaurantId] [int] NULL,
	[Email] [nvarchar](255) NULL,
	[IsLocked] [bit] NOT NULL,
	[LastActiveAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260331072213_Init', N'9.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260331172038_AddAudio', N'9.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260331195427_AddAudioTable', N'9.0.14')
GO
SET IDENTITY_INSERT [dbo].[Audios] ON 

INSERT [dbo].[Audios] ([Id], [VoiceName], [Title], [UploadedAt], [FileName], [FilePath], [RestaurantId], [TextContent], [IsGeneratedByTTS], [LanguageCode], [Duration], [CooldownMinutes]) VALUES (6, N'System Default', N'Ốc Sáu Nở', CAST(N'2026-04-15T01:34:30.9752103' AS DateTime2), N'OFFLINE_SCRIPT', N'OFFLINE_MODE', 14, N'Ốc Sáu Nở 是喜愛多樣化口味遊客的停靠站。這裡的菜單非常豐富，每天都有新鮮運達的各種螺類。無論您喜歡蒜炒、鹽焗還是蔥油烤，餐廳濃郁的烹飪手藝一定會讓您滿意。下午 3 點開始營業，非常適合早點開始您的美食之旅。', 1, N'zh-CN', 0, 10)
SET IDENTITY_INSERT [dbo].[Audios] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurants] ON 

INSERT [dbo].[Restaurants] ([Id], [Name], [Address], [AudioPath], [Description], [Lat], [Lng], [OpenHours], [Rating], [ImagePath], [Radius], [Priority], [IsActive]) VALUES (2, N'Ốc Oanh', N'Vĩnh Khánh, Phường 8, Quận 4', N'', N'Ốc nướng tiêu, ốc hấp sả đặc sản', 10.7608259, 106.7033137, N'16:00~22:30', 46, N'/uploads/images/558e37c9-dc08-489b-989a-ffa256199459.jpg', 50, 0, 1)
INSERT [dbo].[Restaurants] ([Id], [Name], [Address], [AudioPath], [Description], [Lat], [Lng], [OpenHours], [Rating], [ImagePath], [Radius], [Priority], [IsActive]) VALUES (4, N'Chilli Lẩu Nướng Quán', N'Vĩnh Khánh, Phường 8, Quận 4', N'', N'Lẩu nướng buffet giá sinh viên', 10.760840551806483, 106.704, N'10:00 - 23:00', 43, N'/uploads/images/277fe139-567b-4a8e-9925-e0cd6a951b69.jpg', 50, 0, 1)
INSERT [dbo].[Restaurants] ([Id], [Name], [Address], [AudioPath], [Description], [Lat], [Lng], [OpenHours], [Rating], [ImagePath], [Radius], [Priority], [IsActive]) VALUES (6, N'Ốc Thảo', N'Vĩnh Khánh, Phường 8, Quận 4', N'', N'Ốc các loại chế biến đa dạng', 10.761758951046252, 106.702, N'16:00~22:30', 42, N'/uploads/images/38f07a88-eb7a-4d59-a29f-627555ebce01.jpg', 50, 0, 1)
SET IDENTITY_INSERT [dbo].[Restaurants] OFF
GO
INSERT [dbo].[TourDetails] ([TourId], [RestaurantId], [OrderIndex]) VALUES (5, 2, 3)
INSERT [dbo].[TourDetails] ([TourId], [RestaurantId], [OrderIndex]) VALUES (5, 10, 4)
INSERT [dbo].[TourDetails] ([TourId], [RestaurantId], [OrderIndex]) VALUES (5, 11, 2)
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([Id], [Title], [Description], [CreatedAt], [TotalEstimatedTime]) VALUES (5, N'Tour 1', N'Trãi nghiệm Vĩnh Khánh tour', CAST(N'2026-04-19T23:05:06.1334949' AS DateTime2), N'60-90 phút')
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [RestaurantId], [Email], [IsLocked], [LastActiveAt], [CreatedAt]) VALUES (1, N'admin', N'123', NULL, NULL, NULL, 0, CAST(N'2026-04-29T07:02:54.360' AS DateTime), CAST(N'2026-04-20T00:51:38.927' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Audios_RestaurantId]    Script Date: 29/04/2026 8:59:22 SA ******/
CREATE NONCLUSTERED INDEX [IX_Audios_RestaurantId] ON [dbo].[Audios]
(
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audios] ADD  DEFAULT (N'') FOR [FileName]
GO
ALTER TABLE [dbo].[Audios] ADD  DEFAULT (N'') FOR [FilePath]
GO
ALTER TABLE [dbo].[Audios] ADD  DEFAULT (N'') FOR [TextContent]
GO
ALTER TABLE [dbo].[Audios] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsGeneratedByTTS]
GO
ALTER TABLE [dbo].[Audios] ADD  DEFAULT ('vi-VN') FOR [LanguageCode]
GO
ALTER TABLE [dbo].[Audios] ADD  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Audios] ADD  DEFAULT ((10)) FOR [CooldownMinutes]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((50)) FOR [Radius]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[Restaurants] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserActivityLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Audios]  WITH CHECK ADD  CONSTRAINT [FK_Audios_Restaurants_RestaurantId] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
GO
ALTER TABLE [dbo].[Audios] CHECK CONSTRAINT [FK_Audios_Restaurants_RestaurantId]
GO
ALTER TABLE [dbo].[TourDetails]  WITH CHECK ADD  CONSTRAINT [FK_TourDetails_Restaurants] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
GO
ALTER TABLE [dbo].[TourDetails] CHECK CONSTRAINT [FK_TourDetails_Restaurants]
GO
ALTER TABLE [dbo].[TourDetails]  WITH CHECK ADD  CONSTRAINT [FK_TourDetails_Tours] FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([Id])
GO
ALTER TABLE [dbo].[TourDetails] CHECK CONSTRAINT [FK_TourDetails_Tours]
GO
ALTER TABLE [dbo].[UserActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Restaurants] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurants] ([Id])
GO
ALTER TABLE [dbo].[UserActivityLogs] CHECK CONSTRAINT [FK_Logs_Restaurants]
GO
ALTER TABLE [dbo].[Audios]  WITH CHECK ADD  CONSTRAINT [CHK_Language] CHECK  (([LanguageCode]='ko-KR' OR [LanguageCode]='ja-JP' OR [LanguageCode]='zh-CN' OR [LanguageCode]='en-US' OR [LanguageCode]='vi-VN'))
GO
ALTER TABLE [dbo].[Audios] CHECK CONSTRAINT [CHK_Language]
GO
USE [master]
GO
